#! /usr/bin/env python

PACKAGE='header_manipulation'

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("update_rate", double_t, 0, "rate of the update loop for publishing actuator position", 10.0, 0.1, 300.0)
gen.add("time_offset_milliseconds", double_t, 0, "time off set added to the header timestamp of the msg", 100.0, -10000.0, 10000.0)

exit(gen.generate(PACKAGE, "TimeModification", "TimeModification"))
